provider_installation {
  filesystem_mirror {
    path    = "MIRROR_PATH"
    include = ["registry.terraform.io/incidentgarden/incidentgarden"]
  }

  direct {
    exclude = ["registry.terraform.io/incidentgarden/incidentgarden"]
  }
}
